@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  background-image: url(./images/background.svg);
  background-attachment: fixed;
  text-align: center;
  max-width: 800px;
}

:root {
  --primary-color: #00f0ff;
  --black: #333333;
  --secondary-color: rgb(43, 43, 43);
  --text-color: #bfbfbf;
}

.header {
  margin: 10px;
  padding: 20px;
  color: var(--primary);
  background-color: var(--secondary);
  border-bottom-right-radius: 20px;
  background-color: var(--secondary-color);
}



main {
  max-width: 700px;
  min-width: min-content;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

h1 {
  color: var(--primary-color)
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header */

header h1 {
  text-align: center;
  margin: 2rem;
}

.input-label {
  display: block;
  font-size: larger;
  margin: 2rem 0px;
  font-weight: 600;
  color: var(--primary-color)
}

.input {
  font-size: larger;
  display: block;
  padding: 0.6rem 1rem;
  margin: 1rem auto;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 325px;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--text-color)
}

.btn-check {
  background: var(--primary-color);
  border: none;
  color: black;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

.output {
  font-size: x-large;
  font-weight: 600;
  color: var(--primary-color);
  margin: auto;
  padding: 20px;
  background-color: var(--secondary-color);
  margin-top: 50px;
  border-radius: 10px;
  width: max-content;
}

.profit {
  color: rgb(0, 255, 0);
  font-weight: bold;
  font-style: italic;
  font-size: larger;
  background-color: rgb(80, 80, 80);
  padding: 10px;
  border-radius: 10px;
}

.loss {
  color: rgb(252, 31, 31);
  font-weight: bold;
  font-style: italic;
  font-size: larger;
  background-color: rgb(80, 80, 80);
  padding: 10px;
  border-radius: 10px;
}

.stable {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: larger;
  background-color: rgb(80, 80, 80);
  padding: 10px;
  border-radius: 10px;
}